#skills {
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, hsl(0, 0%, 0%), hsl(0, 0%, 5%));
    width: 100%;
    height: auto;
}

.blocoSkills {
    text-align: center;
    color: white;
    background-color: rgb(15, 15, 15);
    width: 95%;
    height: auto;
    margin: 2rem;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0px 2px 2px black;
}

.sk {
    margin-bottom: 1.5rem;
}

.skillBloco {
    overflow: visible;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: auto;
}

.ternarioSkill {
    overflow: visible;
    z-index: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    gap: 5%;
}

.skill {
    transform-origin: center center;
    position: relative;
    background-color: rgb(27, 27, 27);
    width: 26%;
    height: 15rem;
    margin: 1rem;
    margin-bottom: 2rem;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 2px 2px black;
    transition: transform 0.4s ease-in-out;
}

.imageS {
    transition: all 0.4s ease;
    width: 100%;
    height: 70%;
    background-position: center center;   /* <-- centraliza */
    background-repeat: no-repeat;          /* <-- evita repetição */
    background-size: cover;              /* <-- ajusta mantendo proporção */
    background-origin: content-box;
    background-clip: content-box;
}

@media (hover: hover) and (pointer: fine) {
  .skill:hover .imageS {
        transform: translateY(-120%) scale(.98); /* sobe e reduz levemente */
        opacity: 0;
        height: 0%;
    }
}


@media (max-width: 768px) {
  .skill:hover .imageS {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (prefers-reduced-motion: reduce) {
  .imageS, .skill { transition: none; transform: none; opacity: 1; }
}

.pS {
    padding: 1rem;
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.pK {
    padding: 1rem;
}

.react {
    background-image: url("../../../../assets/skills/react.png");
}

.go {
    background-image: url("../../../../assets/skills/go.png");
}

.js {
    background-image: url("../../../../assets/skills/javascript.png");
}

.pyt {
    background-image: url("../../../../assets/skills/python.png");
}

.c {
    background-image: url("../../../../assets/skills/cpluspus.png");
}

.htcs {
    background-image: url("../../../../assets/skills/htcs.jpeg");
}

.sql {
    background-image: url("../../../../assets/skills/sql.png");;
}

.api {
    background-image: url("../../../../assets/skills/api.png");
}

.gitghub {
    background-image: url("../../../../assets/skills/gitghub.png");
}

@media (min-width: 1540px) {
    .skill {
        height: 23rem;
    }

    .pS {
        padding-top: 3rem;
    }

    .pK {
        padding: 2rem;
    }
}

@media (max-width: 1200px) {
    .skill {
        width: 22%;
        height: 11rem;
        margin: 0.4rem;
    }

    .pS {
        font-size: 1.3rem;
        margin-bottom: 0;
    }

    .pK {
        font-size: 0.7rem;
    }
}

@media (max-width: 1020px) {
    .skill {
        width: 20%;
        height: 9rem;
    }

    .pS {
        height: 2.8rem;
        font-size: 1rem;
    }

    .pK {
        font-size: 0.6rem;
        padding: 0.5rem;
    }
}

@media (max-width: 768px) {
    .ternarioSkill {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0rem;
    }

    .skill {
        width: 70%;
        height: 12rem;
        margin-bottom: 2rem;
    }

    .pS {
        padding-top: 2rem;
        font-size: 2rem;
    }

    .pK {
        padding-top: 2rem;
        font-size: 0.8rem;
    }
}

@media (max-width: 468px) {
    .skill {
        width: 100%;
        height: 20rem;
    }

    .pS {
        height: 1rem;
        font-size: 1.3rem;
    }

    .pK {
        font-size: 0.6rem;
    }
}

@media (max-width: 360px) {
    .skill {
        height: 13rem;
    }

    .pS {
        height: 3rem;
        margin-bottom: 1rem;
    }

    .pK {
        font-size: 0.8rem;
    }
}