.home {
    display: flex;
    flex-direction: column;
    position: relative;
    background-image: url('../../../../assets/particulas_black.jpg');
    background-size: cover;
    height: auto;
    background-image: ((1600px, 1600px));
    padding-top: 5rem;
    color: white;
    padding: 3rem;
}

.welcome {
    background: linear-gradient(90deg, hsl(0, 0%, 30%), hsl(0, 0%, 40%), hsl(0, 0%, 30%));
    width: 20rem;
    height: 3rem;
    margin: 2rem;
    margin-top: 4rem;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textingDiv {
    width: 90%;
}

.sobre {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25%;
}

.pDiv {
    bottom: 4rem;
    margin-top: 4rem;
    padding: 1rem;
    border-radius: 15px;
    background-color: rgba(15, 15, 15, 0.6);
    height: auto;
    width: 50%;
}

.p {
    width: 100%;
    text-align: center;
}

.atomo {
    display: flex;
    width: 13rem;
    height: 13rem;
    background-image: url("../../../../assets/atom.jpg");
    background-size: contain;
    border-radius: 50%;

    animation: rotacaoAtomo 10s linear infinite;
}

@keyframes rotacaoAtomo {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (min-width: 1540px) {
    .p {
        font-size: 1.4rem;
    }
}


@media (max-width: 1016px) {
    .home {
        height: auto;
    }

    .atomo {
        width: 9rem;
        height: 9rem;
    }
}

@media (max-width: 768px) {
    .home {
        align-items: center;
    }

    .sobre {
        flex-direction: column;
        gap: 3rem;
    }

    .pDiv {
        width: 100%;
    }
}

@media (max-width: 468px) {
    .p {
        font-size: 0.8rem;
    }

    .welcome {
        margin-top: 5rem;
    }
}