.header-topo {
    z-index: 1000;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    gap: 40%;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: background-color 0.5s cubic-bezier(0.4, 0.1, 1, 1);
    color: white;
    width: 100vw;
    height: 3rem;
}

.header-rolou {
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 10000;
    top: 0;
    gap: 40%;
    justify-content: center;
    align-items: center;
    background-color:hsl(0, 0%, 3%);
    transition: background-color 0.5s cubic-bezier(0.4, 0.1, 1, 1);
    color: white;
    width: 100vw;
    height: 3rem;
}

.links {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.navigation {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    & a {
        text-decoration: none;
        color: white;
        &:hover {
            color: hsl(0, 0%, 80%);
        }
        &:active {
            color: hsl(0, 0%, 70%);
        }
    }
}

.social {
    display: flex;
    gap: 1rem;
}

.buttonH {
    border-radius: 15px;
    width: 2rem;
    height: 2rem;
    font-size: 1.2rem;
    border: none;
    text-decoration: none;
    & a {
        text-decoration: none;
        color: black;
    }
    &:hover {
        cursor: pointer;
        background-color: hsl(0, 0%, 80%);
    }
    &:active {
        background-color: hsl(0, 0%, 70%);
    }
}

.icon {
    background-image: url("../../assets/icons/coding2.png");
    background-size: cover;
    width: 2.3rem;
    height: 2.3rem;
    border: none;
    border-radius: 50%;
}